/S5/AR/archi/PARM
/VMs/
/S5/PS5/
/S6/IHM/Ratatouille

parm_public/
nuitdelinfo/
ssiienv/
qgl-21-22-deadbeef/

cmake-build-*/
out/
bin/
.idea/
pluginAssets/
*.zip
*.tar.gz
*.tgz
*.iml
*.o
*.so
*.a
*.exe
*.class
*.jar

*.pdf
*.html
_resources/

*.ogg
*.mp3
*.m4a
*.flac
*.wav
*.wma
*.webm
*.mpg

.ipynb_checkpoints/
