/SI3/EIIN513 - Architecture et Réseaux/archi/TP2/parm_public
/SI3/EIIN513 - Architecture et Réseaux/archi/PARM
out/
/VMs/
/SI3/EIIN525 - PS5/
/SI3/nuitdelinfo
cmake-build-*/
.idea/
pluginAssets/
*.zip
*.tar.gz
*.iml
*.o
*.so
*.a
*.exe
