/S5/AR/archi/TP2/parm_public
/S5/AR/archi/PARM
/VMs/
/S5/PS5/
nuitdelinfo/
ssiienv/
qgl-21-22-deadbeef/
cmake-build-*/
out/
.idea/
pluginAssets/
*.zip
*.tar.gz
*.iml
*.o
*.so
*.a
*.exe

*.ogg
*.mp3
*.m4a
*.flac
*.wav
*.wma
*.webm
